<layout name="./Public/layout" />

<article class="aboutcon">
<h1 class="t_nav"><span>“屌丝”一样的生活，独来独往，低调的生活，冬去秋来，终而复始。</span><a href="/" class="n1">网站首页</a><a href="__MODULE__/About/index" class="n2">关于我</a></h1>
<div class="about left">
  <h2>Only about me</h2>
    <ul> 
<p>杨松，IT男，一个时代末年的屌丝男士！宅男，胡子渣渣，瑞士军刀电脑包。身上有着明显屌丝的特征！刚入行不久。很庆幸，成功转为程序员这个行业，很适合我的个性，也一直是我的爱好，以前搬砖一样的生活方式换成了现在的夜生活。跟我的职业相比，爱情能脱单一直是我最大的梦想！心中理想的爱情也不得不被现实的残酷破灭。习惯了朝九晚五，习惯了风吹日晒，点点工资还是不够我在这个城市生活下去，还是希望可以放假的世界，带着老婆孩子，一起轻装去旅行。</p>
<p>
在深圳这个城市，你对这个城市熟悉，这个城市却给你孤单。毕业至今4年了，这个过程有得有失，而我失去远远比得到的要少的多。如今要赶上深圳的生活节奏，还有压力。一直一来多希望有一个人可以陪你走，工作不愉快的时候有的人诉说。假期可以闲逛于小城小道...</p>
<p>
走上IT这个行业，不是巧合，也不是偶然！大学主修电子商务的我，虽然毕业之后找到同类的工作，可是迫于生活的压力，不得不继续深造。然而做PHP开发不仅仅是能给我一份还可以的薪水，更是自己的兴趣，还是对自己的职业的最好规划，那些熬夜苦读的日子，还历历在目，学习是一个过程，还有很多东西值得我去学习，比如：nginx、HTML5、JqueryUI、reac-native...</p>
<p>
第一次写个人技术博客，写的不是很好，bug也很多。但是没办法，总要有一个过程，我相信坚持下去，就会慢慢变好的。博客名来源：开始想了很久不知道给自己的博客取个什么名字~想用自己的名字，太俗气~后来因为胡乱注册了一个域名www.juulu.com；然后我就根据域名直接取名：【巨鹿博客】...这个算是个人的第一个博客吧，刚踏进php后端开发的大门，基础都不是很扎实。开始想用YII框架开发这个系统，但是由于自己没有多少时间，又很敢，想尽快开发出来上线，所以才选择了最简单的ThinkPHP框架3.2.3版本，前台模板是一个女程序员免费提供的，后台模板也是网上搜索的，总之本博客用来个人学习之用，不做其他用途...</p>
<p>
感谢深圳图书馆的免费空调和桌子，才让我坚持写完这个博客。否则我都不知道何年何月才可以写完，本人很懒，每天7点起床，11点半下班吃饭，晚上5点半下班，7点到家。都不愿意写东西，何况继续博学。虽然每天都带着小小的的目标奋斗着，想想在广州的5个月。记得第一份工作是在金融公司，做网站后台维护，后来有接触CEM系统，开始的时候很难，但是还是感谢一路以来帮助我的人。</p>
    </ul>
    <h2>About_我的_blog</h2>
    <p>域  名：www.juulu.com 创建于2015年11月20日 <a href="http://www.net.cn/domain/" class="blog_link" target="_blank">注册域名</a><a class="blog_link" href="http://koubei.baidu.com/womc/s/www.juulu.com" target="_blank">邀你点评</a></p>
    <p>服务器：阿里云服务器<a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dz5eBi6WTFMQcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAlNMWqr0PJv0%2BzfprQ6FycnevVLneSIAilqVHLpX3RfWM7YdOqxZsyNXcE%2BniVLVjudn1BbglxZYxUhy8exlzcq9AmARIwX9K%2BnbtOD3UdznPV1H2z0iQv9NkKVMHClW0QbMqOpFMIvnvjQXzzpXdTHGJe8N%2FwNpGw%3D%3D" target="_blank" class="blog_link" >购买空间</a><a href="/" target="_blank" class="blog_link" >参考我的空间配置</a></p>
    <p>程  序：基于ThinkPHP 3.2.3版本开发</p>
    <p>语  言：php 5.6   , mysql5.6.17</p>
    <p>Q  Q：4873473 (只交爱学习，爱编程，爱劳动好朋友！)</p>


</div>
<aside class="right">  
    <div class="about_c">
    <p>网名：<span>php_object</span> | 巨鹿博客</p>
    <p>博客名字：巨鹿博客 </p>
    <p>博主：杨 松 </p>
    <p>籍贯：江西省—上饶市</p>
    <p>爱好：爬山、购物、旅游</p>
    <p>现居：深圳市—福田区—华强北</p>
    <p>职业：PHP程序员</p>
<p>副业：<a href="https://ui000.taobao.com/" target="_blank" class="blog_link">艾依裳时尚店</a></p>
    <p>喜欢的电影：《英雄本色》《速度与激情系列》</p>
    <p>喜欢的音乐：《我不后悔》《just one last dance》《幸福的瞬间》</p>

<p>

<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=XWllam5pam4dLCxzPjIw" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png"/></a>

</p>
<p>
<!--以下是QQ邮件列表订阅嵌入代码-->




</p>

</div>     
</aside>
</article>