<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<css href="__PUBLIC__/Wife/css/admin.css"/>
<js href="__PUBLIC__/Wife/js/jquery-1.7.1.js"/>
<js href="__PUBLIC__/My97DatePicker/WdatePicker.js"/>
<script>
$(function(){
$('.editpic').click(function(){
	$('#file').after('<br/><input type="file" name="job_pics"/><br/');
})
})
</script>
</head>
<body>
<div id="main">
	<div class="title">添加管理员</div>
	<div class="content">
<span>
<form method="post" action="__SELF__" enctype="multipart/form-data">
 <table width="98%" border="0" cellpadding="0" cellspacing="0" class="mytab">
 <tr>
 	<td colspan="3" class="tit">添加用户</td>
 </tr>
    <tr>
      <td width="8%">&nbsp;</td>
      <td width="8%">用户名</td>
      <td width="84%"><input type="text" name="username" value="{$list.username}" size="26" class="inp"/></td>
    </tr>
    <tr>
      <td width="8%">&nbsp;</td>
      <td width="8%">密码</td>
      <td width="84%"><input type="password" name="password" value="{$list.password}" size="26" class="inp"/></td>
    </tr>
    <tr>
      <td width="8%">&nbsp;</td>
      <td width="8%">真名</td>
      <td width="84%"><input type="text" name="real_name" value="{$list.real_name}" size="26" class="inp"/></td>
    </tr>
    <tr>
      <td width="8%">&nbsp;</td>
      <td width="8%">电话</td>
      <td width="84%"><input type="text" name="user_tel" value="{$list.user_tel}" size="26" class="inp"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>头像</td>
      <td><if condition="$list.job_pics eq ''"><input type="file" name="job_pics"/><else/><img src="__PUBLIC__/Uploads/jobs/{$list.job_pics}" width="90%"/><br/><a href="javascript:void(0)" class="editpic">更换图片</a></if><span id="file"></span>eg：可加也可以不加</td>
    </tr>
    
    <tr>
      <td>&nbsp;</td>
      <td colspan="2"><input type="submit" value="保存">
        <input type="button" value="返回上一步" onClick="javascript:history.back()"/></td>
      </tr>
  </table>
  <if condition="$list neq ''"><input type="hidden" name="act" value="edit"/><input type="hidden" name="id" value="{$list.id}"/></if>
</form>
<table width="98%" border="0" cellpadding="0" cellspacing="0" class="mytab">
    <tr>
      <td width="100%" class="tit">技巧</td>
     </tr>
	 <tr>
	 	<td>√这里是手动添加后台管理员用户</td>
	 </tr>
	 	 <tr>
	 	<td>√添加时间：密码记得加密哦~~ </td>
  </table>
</span>
	</div>
</div>
</body>
</html>

