<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<css href="__PUBLIC__/Wife/css/admin.css"/>
<js href="__PUBLIC__/Wife/js/jquery-1.7.1.js"/>
<js href="__PUBLIC__/My97DatePicker/WdatePicker.js"/>
<script>
$(function(){
$('.editpic').click(function(){
	$('#file').after('<br/><input type="file" name="lmlogo"/><br/');
})
})
</script>
</head>
<body>
<div id="main">
	<div class="title">首页栏目</div>
	<div class="content">
<form method="post" action="__SELF__" enctype="multipart/form-data">
  <table width="98%" border="0" cellspacing="0" cellpadding="0" class="mytab">
    <tr>
      <td colspan="3" class="tit">添加首页根栏目</td>
      </tr>
    <tr>
      <td width="189" align="center">分类名称
      <td width="579"><input type="text" name="catname" class="inp"/></td>
      <td width="350" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td align="center">父级分类</td>
      <td><select name="p_id">
        <option value='0'>--顶级分类--</option>
        <?php foreach($data as $v):?>
          <option value="<?php echo $v['id']?>"><?php echo  str_repeat('&nbsp;&nbsp;', $v['lev']*2),$v['catname'];?></option>
        <?php endforeach;?>
      </select></td>
      <td align="left">&nbsp;</td>
    </tr>
   
    <tr>
      <td align="center">分类描述</td>
      <td><textarea name='remark' cols='33'></textarea></td>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td width="189" align="center">&nbsp;</td>
      <td width="579"></td>
      <td width="350" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td width="189">&nbsp;</td>
      <td width="579"><input type="submit" class="sub" value="保存"/>&nbsp;
        <input name="button" type="button" onClick="javascript:history.back()" value="返回上一步"/></td>
      <td width="350" align="left">&nbsp;</td>
    </tr>
  </table>
 <if condition="$list neq ''"><input type="hidden" name="act" value="edit"/><input type="hidden" name="id" value="{$list.id}"/></if>
</form>
<table width="98%" border="0" cellpadding="0" cellspacing="0" class="mytab">
    <tr>
      <td width="100%" class="tit">技巧</td>
     </tr>
	 <tr>
	 	<td>√ 栏目图标建议为 长112 * 宽67 </td>
	 </tr>
	 	 <tr>
	 	<td>√ URL地址格式为: </td>
	 </tr>
	 	 <tr>
	 	<td>√ 排序可以接受整数值, 值越小,越靠前 </td>
	 </tr>
	 	 <tr>
	 	   <td>&nbsp;</td>
      </tr>
  </table>
	</div>
</div>
</body>
</html>

