<layout name="./Public/layout" />

<article class="aboutcon">
<h1 class="t_nav"><span>也许，我只是你生命中飞过客，之所以是过客，因为你没有留言。</span><a href="/" class="n1">网站首页</a><a href="#" class="n2">留言版</a></h1>
<div class="book left">


<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="<?php echo $vv['id']?>" data-title="<?php echo $vv['title']?>" data-url="__MODULE__/Article/detail/id/<?php echo $vv['id']?>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"youngsong"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

 

</div>
<aside class="right">
    <div class="about_c">
    <p>网名：<span>php_object</span> | 巨鹿博客</p>
    <p>博客名字：巨鹿博客 </p>
    <p>博主：杨 松 </p>
    <p>籍贯：江西省—上饶市</p>
    <p>现居：深圳市—福田区—华强北</p>
    <p>职业：PHP程序员</p>
    <p>框架：Think3.2.3版本</p>
    <p>职业：PHP程序员</p>
    <p>语言：HTML,CSS,JavaScript,php,mysql,jquery,react-native,linux,osx</p>
    <p>爱好：爬山、购物、旅游</p>  
    <p>喜欢的书：《红与黑》《红楼梦》</p>
    <p>喜欢的音乐：《burning》《just one last dance》《相思引》</p>

<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=XWllam5pam4dLCxzPjIw" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png"/></a>



</div>     
</aside>
</article>
